@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
}

.expl {
    width: 10px;
    height: 20px;
    background-color: lightgray;
}

#explanations {
    padding-left: 10px;
    border: 1px solid white;
    width: 33%;
}

#popup-header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: lightgray;
    border-bottom: white 1px solid;
    padding-bottom: 10px;
}

.mapboxgl-popup-close-button {
    color: white;
    font-size: 300%;
}

#overlay {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: lightgray;
    position: absolute;
    height: 15%;
    width: 100%;
    background-color: #333;
}

.mapboxgl-popup-content {
    background-color: rgba(0, 0, 0, 0.8) !important;
}

.mapboxgl-popup-tip {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.8) !important;
}

.mapboxgl-popup-content {
    width: 400px;
}

.mapboxgl-popup {
    max-width: 400px;
    width: 400px;
    background-color: rgba(0, 255, 0, 0) !important;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.container {
    width: 400px;
    height: 400px;
}

.counter {
    font-family: 'Roboto', sans-serif;
    color: white;
    opacity: 0.6;
    font-weight:400;
    font-size: 10vw;
    text-shadow: 12px 12px 18px #000000;
    flex: auto;
    flex-direction: column;
    width: 100%;
    position: fixed;
    top: 0%;
    left: 0;
    padding-bottom: 20px;
    padding-left: 1vw;
    padding-right: 5px;
    z-index: 10;
}

.contact {
    font-family: 'Roboto', sans-serif;
    color: white;
    opacity: 0.6;
    font-weight:400;
    font-size: 1em;
    text-shadow: 12px 12px 18px #000000;
    flex: auto;
    width: 100%;
    position: fixed;
    top: 0%;
    text-align: right;
    z-index: 10;
    padding-top: 10px;
}
